.projects{
    padding: 10px;
    margin: 10px;

}
.mapContainer{
    display: flex;
}
@media screen and (max-width:768px) {
    .mapContainer{
        display: block;
    }
    .projects{
        width: 100%;
        /* background-color: rgb(139, 139, 86); */
    }
    .img{
        width: 100%;
    }
}