.mask::after{
    content: "";
    /* width: 100%; */
    /* height: 100vh; */
    background-color: rgb(0,0, 0);
    opacity: 0.3;
    
}
.image{
    max-width: 40%;
    z-index: -1;

}
.wrapper{
    display: flex;
}