.mask::after{
    content: "";
    /* background-color: rgb(0,0, 0); */
    /* opacity: 0.3; */
    
}
.img-mask{
    background-color: rgb(0, 0,0);
    padding: 10px;
    opacity: 0.8;
}
.image{
    width: 400px;
    z-index: -1;

}
.wrapper{
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.skillsMap{
    display:flex;
    justify-content: space-between;
}

.mapdiv{
    width: 300px;
    background-color:#fff;
    height: 100px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-between; */
    gap: 30px;
    padding: 0 20px;
    border:1px solid grey;
    margin-bottom: 10px;
    border-radius: 5px;
}
.mapDiv{
    width: 200px;
    background-color:#fff;
    height: 90px;
    display: flex;
    /* justify-content: center; */
    /* justify-content: space-between; */
    gap: 30px;
    padding: 0 20px;
    border:1px solid grey;
    margin-bottom: 10px;
    border-radius: 5px;
}
.divRow{
    /* display:'flex'; */

}
.small{
 display: none;
}
.mapText{
    color: black;
    text-transform: uppercase;
}
.mapImage{
    color:black;
    height: auto;
    /* background-color:'white'; */
}
@media screen and (max-width:1040px) {
    .small{
        display: initial;
    }
    .wrapper{
        display: block;
    }
    .skillsMap{
        display: none;
        justify-content: center ;
    
    }
    
    .mapdiv{
        
        
        margin: 0 auto;
        margin-top: 10px;
        
        
    }
    .image{
        width: 100%;
    }
        
}
.image-text{
    color: black;
    padding: 10px;
}