.mask::after{
    content: "";
    /* background-color: rgb(0,0, 0); */
    /* opacity: 0.3; */
    
}
.mask{
    /* background-color: white; */
    padding: 10px;
}
.image{
    width: 400px;
    z-index: -1;

}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.skillsMap{
    display:flex;
    justify-content: space-between;
}

.mapdiv{
    width: 300px;
    background-color:#fff;
    height: 100px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-between; */
    gap: 30px;
    padding: 0 20px;
    border:1px solid grey;
}
.mapText{
    color: black;
    text-transform: uppercase;
}
.mapImage{
    color:black;
    height: auto;
    /* background-color:'white'; */
}
@media screen and (max-width:1040px) {
    .wrapper{
        display: block;
    }
    .skillsMap{
        display: block;
        justify-content: center;
    }
    
    .mapdiv{
        
        margin: 0 auto;
        margin-top: 10px;
        
        
    }
    .image{
        width: 100%;
    }
        
}
.image-text{
    color: black;
}