.mask::after{
    content: "";
    /* width: 100%; */
    /* height: 100vh; */
    background-color: rgb(0,0, 0);
    opacity: 0.3;
    
}
.image{
    width: 400px;
    z-index: -1;

}
.wrapper{
    display: flex;
    justify-content: space-between;
}
.skillsMap{
    display:flex;
    justify-content: space-between;
}
.mapdiv{
    width: 300px;
    background-color: #fff;
    height: 100px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-between; */
    gap: 30px;
    padding: 0 20px;
    border-radius: 10px;
}
.mapText{
    color: black;
    text-transform: uppercase;
}
.mapImage{
    color:black;
    height: auto;
    background-color:'white';
}