.footer{
    width: 100%;
    padding: 6rem 0;
    background-color:black  
}
.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
.location{
    display: flex;
    margin-bottom: 0.8rem;
}
.email{
    display: flex;
}

@media screen and (max-width:1040px) {
    .footer-container{
        display: block;
        padding: 10px;
    }
    .left{
       max-width: 75%; 
    }
    .right{
        max-width: 75%;
        margin-top: 60px;
    }
    
}