.footer{
    width: 100%;
    padding: 6rem 0;
    background-color:black
}
.footer-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
.location{
    display: flex;
    margin-bottom: 0.8rem;
}
.email{
    display: flex;
}
