input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 0 auto;
  }
  .form-container{
    margin: 0 auto;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    margin: 0 auto;
  }
  
  input[type=submit] {
    background-color:  rgb(248, 217, 15);;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 auto;

  }
  
  input[type=submit]:hover {
    background: rgb(255, 255, 255,0.2);
    color:black
  }
  
  .container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    /* padding: 20px; */
  }
  
  .col-25 {
    /* float: left; */
     width: 25%;  
    margin-top: 6px;
  }
  
  .col-75 {
    /* float: left; */
    width: 75%; 
    margin-top: 6px;
  }
  @media screen and (max-width: 768px){
    input[type=submit] {
      background-color:  rgb(248, 217, 15);;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      /* margin: 0 auto; */
      width: 75%;
  
    }
    .form-container{
      margin-left: 20vw;
    }

  }
 
  