.hero-img{
    position: relative;
    width: 100%;
    height: 60vh;
     background-color: rgba(0, 0, 0, 0.5);  

}
.hero-img h1{
    font-size: 2.4rem;
}
.hero-img p{
    font-size: 1.4rem;
}
.hero-img::before{
    content: "";
    background-image: url("https://unsplash.com/photos/tj7Bj_743JA");
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.heading{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}