.projects{
    /* padding: 10px; */
    margin:10px;
    /* width: 400px; */
    

}
.projcontainer{
    display:flex;
     flex-wrap: wrap; 
    max-width: 100vw;
     gap: 40px;
    /* margin: 10px; */
}
.textMap{
    max-width: 300px;
    /* margin-left: 40px; */
    /* background-color: white;  */
    /* margin-top: -80px; */
    height:200px ;
}
@media screen and (max-width:768px) {
    .projcontainer{
        background-color: rgb(0, 0,0);
        /* opacity: 0.8; */
        background-color: black;
        
    }
    .textMap{
        /* margin: 20px; */
        max-width: 100%;
        padding: 10px;
        /* margin: 10px; */
    }
    .mapContainer{
        display: block;
        margin:0 10px;
    }
    .projects{
        margin: 10px;
        
        border: 1px solid white;
    }
    .img{
        width: 100%;
        z-index: -1;
    }
}