.projects{
    /* padding: 10px; */
    margin: 10px;

}
.mapContainer{
    display:flex;
    flex-wrap: wrap;
    max-width: 100vw;
    gap: 40px;
    /* margin: 10px; */
}
@media screen and (max-width:768px) {
    .container{
        background-color: rgb(0, 0,0);
        /* opacity: 0.8; */
        margin: 10px;
        
    }
    .mapContainer{
        display: block;
        margin: 10px;
    }
    .projects{
        
        /* background-color: rgb(139, 139, 86); */
    }
    .img{
        width: 100%;
    }
}